- var footer_text = "Copyright Gordon Adam 2019";

footer(
    class="stick-footer"
    class="bg-white"
)
    div(
        class="container"
        class="my-auto"
    )
        div(
            class="copyright"
            class="text-center"
            class="my-auto"
        )
            span
                #{footer_text}